div {
    height: 100%;
    width:100%;
    background-color:antiquewhite;
    margin: 0;
}

h2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}